html {
  font-family: "microsoft yahei", simsun, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: inherit;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  font-size: 22px;
}

ol,
ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
button,
input,
select,
textarea {
  font-size: 100%;
}

.main-content {
  position: absolute;
  width: 100%;
  height: 100%;
}

.bgimg {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1
}

.main-content {
  background: url(../images/mainface.png);
  height: 100%;
  width: 100%;
}

.main-content .content {
  width: 100%;
  height: 100%;
}

.main-content .content .top-content {
  width: 100%;
  height: 15%;
}

.main-content .content .page-content {
  width: 100%;
  height: 85%;
}

table {
  width: 100%;
  height: 100%;
}

.head-top {
  width: 100%;
  height: 100%;
  position: relative;
  min-height: 100px;
}

.head-top .logo {
  position: absolute;
  margin-left: 2%;
  top: 5px;
  height: 100%;
}

.head-top .title {
  position: absolute;
  background-color: #2F75B6;
  margin-left: 160px;
  top: 12px;
  font-size: 36px;
  width: 200px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  color: #fff;
  transform: skewX(-15deg);
  border-radius: 8px;
}

.head-top .time {
  text-align: center
}

/*menu*/
.menu {
  position: absolute;
  top: 15px;
  right: 15px;
}

.menu .item {
  background-color: #4DA4CF;
  background: url('../images/menu.png') no-repeat 0 -44px;
  opacity: 0.8;
  width: 91px;
  height: 44px;
  line-height: 40px;
  font-size: 14px;
  font-weight: bold;
  float: left;
  text-align: center;
  margin-left: 20px;
  cursor: pointer;
}

.menu .item:hover,
.menu .item.selected {
  background-position: 0 0;
}

.menu .item.selected {
  cursor: default;
}

.tmbg {
  background: url('../images/bg-tm.png');
  width: 100%;
  height: 100%
}

.middle-box {
  height: 95%;
  width: 100%;
}

.middle-box .quxian {
  border-radius: 15px;
  min-height: 200px;
}

.item-box {
  width: 98%;
  overflow: hidden;
  position: relative;
  height: 100%;
  padding: 5px;
}

.item-box .item {
  float: left;
  color: #eee;
  padding-bottom: 15px;
  border-radius: 15px;
  margin: 0 15px 0px 0;
  width: 136px;
  height: 130px;
}

.item-box .item .info {
  padding: 19px 0;
  text-align: center;
}

.item-box .item .info .title {
  font-weight: bold
}

.item-box .item .info .unit {
  font-weight: bold;
  font-size: 15px
}

.item-box .item .value {
  text-align: center;
  font-weight: bold;
  font-size: 16px
}

.weather ul li {
  font-size: 18px;
  color: #bde5fd;
  line-height: 30px
}

.zhibiao .title td {
  vertical-align: top;
}

.zhibiao .zhibiao-color {
  min-width: 30px;
  height: 20px;
  display: block;
  border-radius: 3px
}

.zhibiao .zhibiao-title {
  width: 30px;
  display: inline-block;
  font-size: 16px;
}

.footer {
  clear: both;
  padding-left: 2%;
}

.footer .title {
  font-weight: bold;
  font-size: 20px;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.total-num-bg {
  width: 121px;
  height: 121px;
  background: url(../images/total-bg.png) 50% 50% no-repeat;
  display: block;
  transform: rotate(360deg);
  animation: rotation 5s linear infinite;
}

.box-tl {
  width: 20px;
  height: 20px;
  border-top-width: 1px;
  border-top-color: #26c6f0;
  border-top-style: solid;
  border-left-width: 1px;
  border-left-color: #26c6f0;
  border-left-style: solid;
  position: absolute;
  top: 0;
  left: 0;
}

.box-tr {
  width: 20px;
  height: 20px;
  border-top-width: 1px;
  border-top-color: #5990D1;
  border-top-style: solid;
  border-right-width: 1px;
  border-right-color: #5990D1;
  border-right-style: solid;
  position: absolute;
  top: 0;
  right: 0;
}

.box-bl {
  width: 20px;
  height: 20px;
  border-bottom-width: 1px;
  border-bottom-color: #5990D1;
  border-bottom-style: solid;
  border-left-width: 1px;
  border-left-color: #5990D1;
  border-left-style: solid;
  position: absolute;
  bottom: 0;
  left: 0;
}

.box-br {
  width: 20px;
  height: 20px;
  border-bottom-width: 1px;
  border-bottom-color: #5990D1;
  border-bottom-style: solid;
  border-right-width: 1px;
  border-right-color: #5990D1;
  border-right-style: solid;
  position: absolute;
  bottom: 0;
  right: 0;
}